body {
  font-size: 4vw; /* make the font-size adjust based on screen width */
}

h1 {
  font-size: 6vw;
}

#timer {
  font-size: 8vw;
}

button {
  font-size: 4vw;
}

#goalStatus, #message {
  font-size: 4vw;
}

#history {
  font-size: 3.5vw;
}


#timer {
  font-size: 24px;
  margin: 20px 0;
}

button {
  font-size: 18px;
  margin: 10px;
  padding: 10px 20px;
}
